<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>594939316862-987ma5ke8o2qnkap7s2fpg5bdnjkh3mv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.594939316862-987ma5ke8o2qnkap7s2fpg5bdnjkh3mv</string>
	<key>API_KEY</key>
	<string>AIzaSyASqMGt2NoB-V2hVNmjXNu9GUKm_uT_WmI</string>
	<key>GCM_SENDER_ID</key>
	<string>594939316862</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.apptinhgio</string>
	<key>PROJECT_ID</key>
	<string>apptinhgio</string>
	<key>STORAGE_BUCKET</key>
	<string>apptinhgio.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:594939316862:ios:8426073a3a356a6c39262f</string>
</dict>
</plist>